/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

.section-1 {
    display: inline-block;
}
.hiking {
    width: 150px;
    height: 100px;
    display: inline-block;
}

.plane {
    width: 125px;
    height: 150px;
}

.post-it-1 {
    font-size: 10px;
    background: lightsalmon;
    padding: 3px 2px 15px 2px;
    box-shadow: 1px 1px 5px black;
    margin: 20px;
}

.post-it-3 {
    font-size: 15px;
    text-align: center;
    background-color: lightgreen;
}

