* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
}

#header {
    grid-area: header;
    padding: 0px 36px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
}

#main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.metube-item .thumbnail-style {
    aspect-ratio: 16/9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 3px;
}

#header a {
    text-decoration: none;
}

#header #me {
    color: blue;
    padding: 4px;
    border-radius: 8px;
}

#header #tube {
    color: rgb(116, 0, 0);
    background-color: #32CDF0;
    padding: 4px 6px;
    border-radius: 0px 8px;
}

#sidebar ul {
    padding: 12px 0px;
    margin: 0px;
    list-style-type: none;
    border-bottom: 1px solid #32cdf0;
}

#sidebar ul a {
    text-decoration: none;
    color: #111111;
    display: block;
    padding: 12px;
}

#siderbar ul a:hover {
    background-color: #eeeeee;
    border-radius: 12px;
}

.metube-item {
    flex: 250px;
    margin-right: 12px;
    margin-bottom: 24px;
}

.metube-item h4 {
    margin: 8px;
}

.metube-item h4 a {
    text-decoration: none;
    color: #32CDF0;
    display: block;
}

.metube-item h4 a:hover {
    text-decoration: underline;
}

.metube-item .video-details {
    margin: 8px;
    font-size: 14px;
}

.thumbnail-style {
    border-radius: 8px;
    width: 100%;
    padding: px;
}

#pledge {
    height: 100%;
    width: 90%;
}