* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    background-image: url("../images/themeparkhero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero #hero-image {
    text-align: center;
    position: absolute;
    top: 10%;
}

#hero h2 {
    font-size: 75px;
    font-weight: bolder;
    color: white;
    margin-bottom: 35px;
}

#hero a {
    background: #b30032;
    text-decoration: none;
    color: #fff132;
    padding: 20px;
    font-weight: bold;
    border-radius: 35px;
    font-size: 18px;
}

#hero a:hover {
    background: #ff7da1;
    color: #fff132;
}

#media-1 {
    display: flex;
    align-items: center;
    margin: 48px 0px;
    margin: 0px;
    padding: 35px;
    background-color: #0088b3
}

#media-1 .text-container {
    flex: 1;
    padding: 36px;
    text-align: center;
}

#media-1 .image-container {
    flex: 1;
}

#media-1 .image-container img {
    width: 100%;
    border-radius: 15px;
}

#media-1 .text-container h3 {
    font-size: 48px;
    color: white;
    font-size: 65px;
}

#media-1 .text-container a {
    background: #b30032;
    text-decoration: none;
    color: #fff132;
    padding: 15px;
    font-weight: bold;
    border-radius: 35px;
    font-size: 16px;
}

#media-1 .text-container a:hover {
    background: #ff7da1;
    color: #fff132;
}

.single-column {
    min-width: 600px;
    max-width: 1300px;
    margin: 0px auto;
}

#main-section {
    background: linear-gradient(#b30032, #fff132);
    padding: 48px;
}

#comparison-chart {
    text-align: center;
    margin: 60px 0px;
    background: #0089b3b5;
}

#comparison-chart h3 {
    color: white;
    font-size: 50px;
    padding-top: 50px;
}

#comparison-layout {
    padding: 36px;
}

.comparison-row {
    display: flex;
    border-bottom: 4px solid #fff132;
    color: white;
}

.comparison-row img {
    width: 200px;
    height: 150px;
    margin: 20px;
    border: 2px solid #fff132;
    border-radius: 15px;
}

.comparison-row div {
    flex: 1;
    padding: 24px;
    font-size: 24px;
}