@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Birthstone+Bounce:wght@400;500&family=Bonheur+Royale&family=Delius+Unicase:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Fira+Mono:wght@400;500;700&family=Grechen+Fuemen&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Rubik+80s+Fade&family=Rubik+Glitch+Pop&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Alfa+Slab+One&family=Birthstone+Bounce:wght@400;500&family=Bonheur+Royale&family=Delius+Unicase:wght@400;700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Fira+Mono:wght@400;500;700&family=Grechen+Fuemen&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Rubik+80s+Fade&family=Rubik+Glitch+Pop&family=Shrikhand&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    border-bottom: 10px solid #ffd871;
    padding-right: 24px;
    background-color: white;
    z-index: 99;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
    font-size: 24px;
    font-family: "Expletus Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: inline-block;
}

#navbar #links a:hover {
    background-color: #ffd871;
    margin: 0px;
    transition: 
        background-color 0.25s;
}

#navbar img {
    width: 175px;
    margin-left: 24px;
}

#navbar #logo {
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 12px;
}

#media-image {
    background: #ffd871;
    border-radius: 35px;
    margin: 48px;
    color: black;
}

#side-by-side {
    display: flex;
    align-items: center;
    height: 500px;
}

#side-by-side #image-container {
    flex: 1;
}

#side-by-side #content-container {
    flex: 1;
    padding: 25px;
}

#image-container img {
    border-radius: 35px 0px 0px 35px;
    width: 600px;
}

#content-container h1 {
    font-family: "Alex Brush", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 75px;
    margin-bottom: 0px;  
}

#content-container h4 {
    font-family: "Expletus Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    border-top: 0px;
}

#content-container a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 30px;
    font-family: "Marcellus", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    border-radius: 35px;
    margin-bottom: 25px;
}

#content-container a:hover {
    color: #ffd871;
    transition:
        color 0.25s;
}

#content-container a:active {
    background-color: white;
    color: black;
}

#footer {
    padding: 12px;
    background-color: black;
    color: white;
}

#footer #logo {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    
}

#footer a {
    text-decoration: none;
}

#columns {
    width: 900px;
    margin: 0px auto;
    padding: 48px 0px;
    display: flex;
    justify-content: space-between;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

#columns a {
    display: block;
    padding: 8px;
    font-size: 16px;
    color: white;
}

#columns a:hover {
    color: #ffd871;
    transition: 
        color 0.25s;
}

#copyright p {
    text-align: center;
    margin: 0px;
    background-color: #ffd871;
}

#hero {
    background-image: url("../images/glazed-salmon4.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    height: 450px;
}

#hero-content {
    color: white;
    padding-top: 5px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

#hero h2 {
    font-family: "Alex Brush", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 80px;
    margin-bottom: 0px;
}

#hero h4 {
    font-family: "Expletus Sans", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 0px;
}

#hero p {
    font-family: "Marcellus", serif;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 20px;
}

#hero a {
    text-decoration: none;
    background-color: black;
    padding: 10px 35px;
    border-radius: 35px;
    font-family: "Marcellus", serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    font-size: 18px;
}

#hero a:hover {
    color: #ffd871;
    transition:
        color 0.5s;
}

#hero a:active {
    background-color: white;
    color: black;
    transition: 
        background-color 0.5s;
}

#menu-content {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

#main-content {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#menu-header {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

#menu-header-content {
    text-align: center;
    background-color: #ffd871;
    border-radius: 50%;
    padding: 15px;
}

#menu-header h1 {
    font-family: "Alex Brush", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 72px;
    margin-bottom: 0px;
}

#menu-header p {
    font-family: "Marcellus", serif;
    font-weight: bold;
    font-style: normal;
}

.menu-item {
    margin: 15px;
}

#main-content h3 {
    font-family: "Expletus Sans", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

#main-content p {
    font-family: "Marcellus", serif;
    font-weight: bold;
    font-style: normal;
}

#main-content h2 {
    text-align: center;
    background: black;
    color: #ffd871;
    font-family: "Alex Brush", serif;
    font-weight: bold;
    font-style: normal;
    padding: 15px;
    font-size: 45px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    text-align: right;
    border-right: 5px solid #ffd871;
    padding-right: 20px;
}

#sidebar h3 {
    font-family: "Expletus Sans", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 30px; 
    border-bottom: 3px solid #ffd871;   
}

#sidebar a {
    text-decoration: none;
    font-family: "Marcellus", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    color: black;
    padding-bottom: 10px;
}

#sidebar a:hover {
    color: #ffd871;
    transition: 
        color 0.25s;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#card-section {
    padding: 12px;
    background-color: black;
    margin-bottom: 100px;
}

.card {
    flex: 1;
    padding: 25px;
    text-align: center;
    padding: 0px;
    border: 2px solid #ffd871;
    margin: 35px;  
    background-color: #ffd871;
    border-radius: 15px;
}

.card img {
    width: 100%;
    height: 200px; 
    border-radius: 15px 15px 0px 0px;  
}

.card-container {
    display: flex;
}

.card h4 {
    font-family: "Expletus Sans", serif;
    font-optical-sizing: auto;
    padding: 5px;
    padding-bottom: 0px;
}

.card a {
    text-decoration: none;
    font-family: "Marcellus", serif;
    font-weight: bold;
    font-style: normal;
    color: white;
    display: block;
    font-size: 20px;
    padding: 5px;
    background-color: black;
    margin: 30px;
    border-radius: 35px;
}

.card a:hover {
    color: #ffd871;
    transition: 
        color 0.25s;
}

/*Tablet Media Query*/
@media screen and (max-width: 1100px) and (min-width: 801px) {
    #navbar a {
        font-size: 18px;
    }

    #navbar img {
        width: 125px;
        margin-left: 24px;
    }

    #side-by-side {
        height: 375px;
    }

    #content-container h1 {
        font-size: 50px;
    }

    #image-container img {
        width: 400px;
        height: 375px;
    }

    #content-container h4 {
        font-size: 22px;
        margin-top: 5px;
    }

    #content-container a {
        font-size: 16px;
    }
    
    .card {
        margin: 10px;
        height: 325px;
    }

    .card h4 {
        font-size: 16px;
    }

    .card img {
        width: 100%;
        height: 150px;
    }

    .card a {
        font-size: 16px;
    }

    #columns {
        min-width: 500px;
        max-width: 700px;
    }

    #hero-content h2 {
        font-size: 70px;
    }

    #hero-content h4 {
        font-size: 22px;
    }

    #hero-content p {
        font-size: 14px;
    }

    #hero-content a {
        font-size: 14px;
    }

    #menu-header h1 {
        font-size: 60px;
    }

    #menu-header {
        padding: 15px;
    }

    #sidebar h3 {
        font-size: 22px;
    }

    #sidebar a {
        font-size: 18px;
    }
}

/*Mobile Media Query*/
@media screen and (max-width: 800px) and (min-width: 480px) {
    #logo img {
        width: 125px;
        display: block;        
    }

    #logo {
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    #navbar a {
        font-size: 16px;
        padding: 10px;
    }

    #navbar {
        flex-direction: column;
    }

    #navbar #links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #image-container img {
        width: 370px;
        border-radius: 35px 35px 0px 0px;
        height: 300px;
    }

    #media-image {
        width: 380px;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    #side-by-side {
        flex-direction: column; 
        height: 550px;    
    }

    #content-container {
        text-align: center;
    }

    #content-container h1 {
        font-size: 40px;
        margin-top: 0px;
    }

    #content-container h4 {
        font-size: 18px;
        margin-top: 10px;
    }

    #content-container a {
        font-size: 14px;
        margin: 10px;
    }

    .card-container {
        display: grid;
    }

    .card {
        width: 250px;
        margin-right: auto;
        margin-left: auto;
    }

    .card img {
        width: 100%;  
        height: 225px; 
    }

    .card a {
        font-size: 20px;
    }

    .single-column {
        min-width: 0px;
    }

    #columns {
        width: 375px;
        margin: 0px auto;
        padding: 15px 0px;
        display: flex;
        justify-content: space-between;
        font-family: "Marcellus", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
    }

    #footer #logo {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    #hero-content h2 {
        font-size: 55px;
    }

    #hero-content h4 {
        font-size: 20px;
    }

    #hero-content p {
        font-size: 12px;
    }

    #hero-content a {
        font-size: 14px;
    }

    #menu-header {
        grid-template-columns: 1fr;
    }

    #menu-header-content h1 {
        font-size: 55px;
    }

    #menu-header-content p {
        font-size: 14px;
    }

    #menu-content {
        grid-template-columns: 1fr;
    }

    #sidebar {
        align-items: center;
    }

    #sidebar a {
        font-size: 18px;
    }
}