* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #4e3b35;
    padding: 18px; 
    margin: 0px; 
    border-bottom: 10px solid #be5f3e
}

#navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#navbar #web-name {
    flex: 1;
    font-size: 26px;
    font-weight: bold;
}

#hero {
    background-image: url("../images/animal-hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-bottom: 0px;
}

#hero #hero-content {
    position: absolute;
    top: 5%;
    left: 5%;
}

#hero h1 {
    font-size: 65px;
    color: white;
}

#hero a {
    text-decoration: none;
    background-color: #be5f3e;
    color: white;
    padding: 18px;
    border-radius: 35px;
    font-weight: bold;
    font-size: 20px; 
}

#background-container {
    background: linear-gradient(to bottom, #cfeefc, #8a9da3);
}

#meet-georgia {
    background-color: #8a9da3;
    padding: 24px;
    margin: 36px;
}